#title {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

#container {
    font-family: Times, "Times New Roman", Georgia, serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#initial {
    padding: 25px;
}

#final {
    padding: 25px;
}

#input{
    padding: 25px;
}

