#title {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
}

img {
    width: 100%;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: large;
}

#container {
    font-family: Times, "Times New Roman", Georgia, serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#initial {
    padding: 25px;
}

#final {
    padding: 25px;
}

#input{
    padding: 25px;
}

#result {
    text-align: center;
    padding-top: 25px;
}

